.post-detail {
  width: 100%;
  padding: 8px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  position: relative;
}

.post-detail__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.post-detail__info-img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: center;
}

.post-detail__info-desc {
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.post-detail__info-header {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.post-detail__info-title {
  flex: 1 1 0;
  font-size: 28px;
  font-weight: bold;
}

.post-detail__info-date {
  font-size: 12px;
  justify-self: flex-end;
}

.post-detail__info-content {
  font-size: 16px;
  min-height: 80px;
}

.post-detail__button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 8px;
}

.post-detail__button {
  flex: 1 1 calc(50% - 8px);
  height: 45px;
  border-radius: 10px;
  outline: none;
  border: 0;
  background-color: rgb(134, 207, 249);
}

.hr {
  width: 100%;
  border: 1px solid silver;
}
