.modal-container {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  /* this is how we cover the entire page */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  flex-direction: center;
  align-items: center;
}
