.post-comment-form {
  width: 100%;
  padding: 8px;
  display: flex;
  position: sticky;
  height: 40px;
  bottom: 25px;
}

.post-comment-form__input {
  border-radius: 10px;
  height: 40px;
  flex: 1 1 0;
  padding: 8px 32px 8px 8px;
}

.post-comment-form__button {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 45px;
  height: 32px;
  border-radius: 10px;
  /* outline: none; */
  border: 0;
  background-color: rgb(27, 105, 144);
  color: #fff;
}
