.post-form {
  min-height: 100%;
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.post-form fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 0 none;
}

.post-form__input-title {
  flex: 1 1 60px;
  padding: 8px;
}

.post-form__input-content {
  flex: 1 1 200px;
  padding: 8px;
}

.click-block {
  background-color: rgb(181, 178, 178);
  color: #fff;
  cursor: not-allowed;
}

.post-form__button {
  height: 100px;
}
