*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/* 스크린 리더를 위한 클래스 */
/* https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/ */
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal !important;
}

.app {
  width: 100%;
  display: flex;
  place-content: center;
  align-items: center;
  margin: 0 auto;
}

.image-size-110 {
  height: 110px;
  width: 110px;
}

.image-size-320 {
  width: 536px;
  height: 320px;
}

.placeholder {
  overflow: hidden;
  box-shadow: 0.625rem 0.625rem 1.25rem 0.313rem rgba(0, 0, 0, 0.1);
}

.placeholder:empty {
  animation: 2s loadingAnimation forwards infinite linear;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 28%, #eeeeee 53%);
  background-size: 100%;
}

@keyframes loadingAnimation {
  0% {
    background-position: -12.5rem 0;
  }
  100% {
    background-position: 12.5rem 0;
  }
}

.modal-show {
  display: flex;
}

.click-block {
  background-color: rgb(181, 178, 178);
  color: #fff;
  cursor: not-allowed;
}
